<div class="d-flex flex-wrap justify-content-center">
  <div class="card mb-5 shadow-sm" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title ">Dolár para Real</h5>
      <h6 class="card-subtitle mt-3 mb-2 text-muted">Valor do dollar hoje <br> R$ {{dolar}} </h6>
      <h6 class="card-subtitle mb-2 text-muted">Digite um valor</h6>
      <input 
        id="RtD" 
        class="mt-2 mb-3 form-control" 
        type="text"
      >
      <div class="d-flex justify-content-between">
        <div>
          <h6>Resultado</h6>
          <p>{{resultadoDtR | currency:'BRL':'symbol':'1.2'}}</p>
        </div>
        <div>
          <button class="btn btn-success" (click)="convertRealToDollar()">Converter</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-5" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title ">Pesos Argentino to Real</h5>
      <h6 class="card-subtitle mt-3 mb-2 text-muted">Valor do Peso Argentino hoje <br> R$: {{pesoArgentino}} </h6>
      <h6 class="card-subtitle mb-2 text-muted">Digite um valor</h6>
      <input 
        id="PAtR" 
        class="mt-2 mb-3 form-control" 
        type="text"
      >
      <div class="d-flex justify-content-between">
        <div>
          <h6>Resultado</h6>
          <p>{{resultadoPAtR | currency:'BRL':'symbol':'1.2'}}</p>
        </div>
        <div>
          <button class="btn btn-success" (click)="convertPesoArgentinoToReal()">Converter</button>
        </div>
      </div>
    </div>
  </div>
</div>